footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 1440px;
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F7FA;
}

.col1, .col2, .col3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 144px
}

.logo {
    width: 176px;
    height: 40px;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}

.contacts-link {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #1B1E22;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 162px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 8px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
}

.phone {
    font-weight: 600;
}

.divider {
    border-top: 0.5px solid #e0e0e0;
    width: 100%;
    margin: 10px 0;
}